.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: #FFFFFF !important;
}

.dropdown-toggle::after {
    border-top-color:#888 !important;
    border-bottom-color:#888 !important;
}

.flex-gap {
    display: inline-flex;
    flex-wrap: wrap;
}
  
.flex-gap > div {
    margin-right: 6px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-center {
    text-align: center;
}