{% extends "layout.html" %}
{% block title %}
Structures
{% endblock %}
{% block content %}
<div class="container-fluid mb-2 mt-2 text-center">
    {% if context.structToDelete %}
        <p>{{context.structToDelete}} deleted.</p>
    {% elif context.error %}
        {% if context.error == 'REPEAT' %}
            <p>This structure already exists.</p>
        {% elif context.error == 'INVALID' %}
            <p>Invalid structure ID! Please double check it.</p>
        {% elif context.error == 'NONE' %}
            <p>No structure entered!</p>
        {% endif %}
    {% elif context.newStruct %}
        <p>{{context.newStruct}} added.</p>
    {% else %}
        <p>Nothing selected!</p>
    {% endif %}

    <a href="{{ url_for('show_settings') }}" class="btn btn-primary">Back to Settings</a>
    
</div>

{% endblock %}