{% extends "layout.html" %}
{% block title %}
User Details
{% endblock %}
{% block content %}
    <img src="{{ context.profile_pic }}" alt="{{ context.name }} Portrait">
    <p>Character Name: {{ context.name }}</p>
    <p>Corporation: {{ context.corp_name}}</p>
    {% if context.alliance_name %}
        <p>Alliance: {{ context.alliance_name}}</p>
    {% endif %}
    {% if context.isLoggedInUser %}
        <p>Structures with Access</p>
        {% for structure in context.structures %}
            {{structure}}
        {% endfor %}
        <p>Buy Orders</p>
        <table style="width:100%">
            <tr>
                <th>Item</th>
                <th>Volume Remaining</th>
                <th>Initial Volume</th>
                <th>Location</th>
                <th>Structure Max</th>
            </tr>
        {% for order in context.buyOrders %}
            <tr>
                <td>{{order.itemName}}</td>
                <td>{{order.volume_remain}}</td>
                <td>{{order.volume_total}}</td>
                <td>{{order.structure_name}}</td>
                <td>{{order.structureHighest}}</td>
            </tr>
        {% endfor %}
        </table>
        <p>Sell Orders</p>
        <table style="width:100%">
            <tr>
                <th>Item</th>
                <th>Volume Remaining</th>
                <th>Initial Volume</th>
                <th>Location</th>
                <th>Structure Min</th>
            </tr>
        {% for order in context.sellOrders %}
            <tr>
                <td>{{order.itemName}}</td>
                <td>{{order.volume_remain}}</td>
                <td>{{order.volume_total}}</td>
                <td>{{order.structure_name}}</td>
                <td>{{order.structureLowest}}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}