{% extends "layout.html" %}
{% block title %}
User Details
{% endblock %}
{% block content %}
    <div class="mt-2">
        <div class="d-flex flex-column align-items-center text-center">
            <img src="{{ context.profilePic }}" class="rounded-circle" alt="{{ context.name }} Portrait" width="150">
            <div class="mt-3">
                <h4>Character Name: {{ context.name }}</h4>
                <p class="text-secondary mb-1">Corporation: {{ context.corporation}}</p>
                {% if context.alliance %}
                    <p class="text-muted font-size-sm">Alliance: {{ context.alliance}}</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% if context.isLoggedInUser %}
    <div class="container-fluid">
        <h4>Structures with Access through Market Orders</h4>
        {% if current_user.structureAccess == 'None' %}
            <p>No accessible structures!</p>
        {% else %}
            {% for key, val in context.structures.items() %}
                <p>{{key}}: {{val}}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="container-fluid">
        <h4>Wallet</h4>
        <p>Balance: {{ context.walletBalance | numberFormat}} ISK</p>
        <h5>Transactions in last 30 days</h5>
        {% if context.walletTransactions %}
            <table class="table table-bordered table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                {% for transaction in context.walletTransactions %}
                    <tr>
                        <td>{{transaction.item_name}}</td>
                        {% if transaction.is_buy %}
                            <td>-{{transaction.unit_price | numberFormat}}</td>
                        {% else %}
                            <td>{{transaction.unit_price | numberFormat}}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No transactions to display!</p>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}