<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- Your Custom theme -->
        <link rel="stylesheet" href="../static/css/custom.css"> 
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('show_index') }}">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('show_about') }}">About</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('show_contact') }}">Contact</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li class="dropdown" style="padding-right: 12px;">
                            <a class="btn btn-secondary dropdown-toggle btn-sm" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <img alt="profilePic" src="{{current_user.profilePic}}" width="35" height="35">
                                <span class="caret" style="color: #808080"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li id="username" class="dropdown-header">{{ current_user.name }}</li>
                                <li><a class="dropdown-item" href="{{ url_for('character', char_id=current_user.id) }}">Profile</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('show_orders') }}">Market Orders</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('show_imports') }}">Imports</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('show_settings') }}">Settings</a></li>
                            </ul>
                        </li>
                        <li style="padding-top: 1px">
                        <a href="{{ url_for('logout') }}" class="btn btn-primary my-2 my-sm-0" role="button">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ url_for('login') }}" class="btn btn-primary my-2 my-sm-0" role="button">Login</a>
                        </li>
                    {% endif %}
                    </ul>
                </div> 
            </div>
        </nav>

        <div class="container-fluid">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
                <p>© 2021</p>
            </footer>
        </div>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </body>
</html>