{% extends "layout.html" %}
{% block title %}
User Details
{% endblock %}
{% block content %}
    <img src="{{ context.profile_pic }}" alt="{{ context.name }} Portrait">
    <p>Character Name: {{ context.name }}</p>
    <p>Corporation: {{ context.corp_name}}</p>
    {% if context.alliance_name %}
        <p>Alliance: {{ context.alliance_name}}</p>
    {% endif %}
    <p> Sell Orders</p>
    <table style="width:100%">
        <tr>
          <th>Item Name</th>
        </tr>
        {% for order in context.sellOrders %}
        <tr>
            <td>{{ order.name }}</td>
        </tr>
        {% endfor %}
    </table>
    <p>Buy Orders</p>
    <table style="width:100%">
        <tr>
          <th>Item Name</th>
        </tr>
        {% for order in context.buyOrders %}
        <tr>
            <td>{{ order.name }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}