{% extends "layout.html" %}
{% block title %}
Settings
{% endblock %}
{% block content %}
<script src="../static/js/structureModification.js"></script>
<div class="container-fluid mb-2">
    
    <div class="d-flex flex-column mb-2">
        <div class="text-center">
            <h3>Update User Data</h3>
        </div>
        <div>
            <form class="form-center" action="{{ url_for('show_settings') }}" method="POST">
                <div class="form-group row justify-content-sm-left" style="display: inline-block; text-align: left;">
                    <div>
                        <div class="mb-1">
                            <input class="form-check-input" type="checkbox" name="priceData" value="" id="priceData">
                            <label class="form-check-label" for="priceData">Price Data (price of best orders in stations)</label>
                        </div>
                        <div class="mb-1">
                            <input class="form-check-input" type="checkbox" name="userOrders" value ="" id="userOrders">
                            <label class="form-check-label" for="userOrders">User Orders (quantity, location, price)</label>
                        </div>
                        <div class="mb-1">
                            <input class="form-check-input" type="checkbox" name="userData" value="" id="userData">
                            <label class="form-check-label" for="userData">User Data (profile pic, name, corp, alliance)</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-2 justify-content-center">
                    <div class="col col-md-4">
                        {% if context.brokerFee %}
                        <label for="brokerFee" class="mb-1">Current Broker's Fee: {{context.brokerFee}}%</label>
                        {% else %}
                        <label for="brokerFee" class="mb-1">Current Broker's Fee: <span style="color: red;">Not Set</span></label>
                        {% endif %}
                        <input id="brokerFee" type="text" class="form-control" name="brokerFee" placeholder="Broker Fee %" aria-label="Broker Fee %">
                    </div>
                    <div class="col col-md-4">
                        {% if context.transactionTax %}
                        <label for="salesTax" class="mb-1">Current Sales Tax: {{context.transactionTax}}%</label>
                        {% else %}
                        <label for="salesTax" class="mb-1">Current Sales Tax: <span style="color: red;">Not Set</span></label>
                        {% endif %}
                        <input id="salesTax" type="text" class="form-control" name="transactionTax" placeholder="Sales Tax %" aria-label="Sales Tax %">
                    </div>
                </div>
                <div class="row mb-2 justify-content-center">
                    <div class="col col-md-4">
                        {% if context.iskm3 %}
                        <label for="iskm3" class="mb-1">Current ISK/m3: {{context.iskm3}}</label>
                        {% else %}
                        <label for="iskm3" class="mb-1">Current ISK/m3: <span style="color: red;">Not Set</span></label>
                        {% endif %}
                        <input id="iskm3" type="text" class="form-control" name="iskm3" placeholder="ISK/m3" aria-label="ISK/m3">
                    </div>
                    <div class="col col-md-4">
                        {% if context.collateralPercent %}
                        <label for="collateralPercent" class="mb-1">Current Collateral %: {{context.collateralPercent}}%</label>
                        {% else %}
                        <label for="collateralPercent" class="mb-1">Current Collateral %: <span style="color: red;">Not Set</span></label>
                        {% endif %}
                        <input id="collateralPercent" type="text" class="form-control" name="collateralPercent" placeholder="Current Collateral %" aria-label="Current Collateral %">
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col">
                        <button type="submit" class="btn btn-primary"> Update </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div class="d-flex flex-column mb-2 justify-content-center">
        <div class="text-center">
            <h3>Structure Modification</h3>
            <p>Select "Add Structure" to add a new one, otherwise select your structure below to modify/delete it.</p>
        </div>
        {% if context.structureAccess %}
        <div>
            <form class="form-center" action="{{ url_for('structure_mod') }}" method="POST">
                <div class="form-group row justify-content-center">
                    <div class="col-sm-6">
                        <select onchange="displayDivDemo(this)" class="form-select" id="tradeRoute" aria-label="Default select example">
                            <option value="add">Add Structure</option>
                            {% for key, value in context.structureAccess.items() %}
                            <option value="{{key}}">{{value}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div id="updateOld" style="display: none;" class="form-group row justify-content-sm-left">
                    <div class="mb-1">
                        <input class="form-check-input" type="checkbox" name="deleteStruct" value="DELETE" id="deleteStructure">
                        <label class="form-check-label" for="deleteStruct">Delete Structure</label>
                    </div>
                </div>
                <div id="createNew" class="row mb-2 justify-content-center text-center">
                    <p>Please input the structure ID you would like to add (this can be found by exporting your market orders you have and looking in the .txt file)</p>
                    <div class="col col-md-4">
                        <input id="structureID" type="text" class="form-control" name="structureID" placeholder="Structure ID" aria-label="Structure ID">
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col">
                        <button type="submit" class="btn btn-primary"> Update </button>
                    </div>
                </div>
            </form>
        </div>
        {% else %}
        <div class="text-center">
            <p>You have no structures added! Refresh your user orders after putting up at least one market order in a station you have market access.</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}