{% extends "layout.html" %}
{% block title %}
Settings
{% endblock %}
{% block content %}
<div class="container-fluid">
    <h3>Update Data</h3>
    <form action="{{ url_for('show_settings') }}" method="POST">
        <div class="form-check mb-1">
            <input class="form-check-input" type="checkbox" name="priceData" value="" id="priceData">
            <label class="form-check-label" for="priceData">Price Data (price of best orders in stations)</label>
        </div>
        <div class="form-check mb-1">
            <input class="form-check-input" type="checkbox" name="userOrders" value ="" id="userOrders">
            <label class="form-check-label" for="userOrders">User Orders (quantity, location, price)</label>
        </div>
        <div class="form-check mb-1">
            <input class="form-check-input" type="checkbox" name="userData" value="" id="userData">
            <label class="form-check-label" for="userData">User Data (profile pic, name, corp, alliance)</label>
        </div>

        <div class="row justify-content-md-left">
            {% if context.brokerFee %}
            <p class="mb-1">Current Broker's Fee: {{context.brokerFee}}%</p>
            {% else %}
            <p class="mb-1">Current Broker's Fee: Not Set</p>
            {% endif %}
            {% if context.transactionTax %}
            <p class="mb-1">Current Sales Tax: {{context.transactionTax}}%</p>
            {% else %}
            <p class="mb-1">Current Sales Tax: Not Set</p>
            {% endif %}
        </div>

        <div class="d-flex flex-row mb-2 align-items-center flex-gap">
            <div class="p-0">
                <input type="text" class="form-control" name="brokerFee" placeholder="Broker Fee %" aria-label="Broker Fee %">
            </div>
            <div class="">
                <input type="text" class="form-control" name="transactionTax" placeholder="Sales Tax %" aria-label="Sales Tax %">
            </div>
        </div>



        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
{% endblock %}