{% extends "layout.html" %}
{% block title %}
Structures
{% endblock %}
{% block content %}
<div class="container-fluid mb-2 mt-2 text-center">
    {% if context.newStruct == 'NONE' %}
        <p>Structure not found in your access list! Please double check you input the correct structure ID, if it was correct, you already deleted it!</p>
    {% elif context.structToDelete %}
        <p>{{context.structToDelete}}</p>
    {% elif context.newStruct %}
        <p>{{context.newStruct}}</p>
    {% else %}
        <p>Nothing selected!</p>
    {% endif %}

    <a href="{{ url_for('show_settings') }}" class="btn btn-primary">Back to Settings</a>
    
</div>

{% endblock %}